<div class="sidebar" >
    <div class="content">
        <div class="link" >
            <div class="content" [routerLink]="['hospitals']" >
            <div class="title">Hospitals</div>
        </div>
        <div class="link" >
            <div class="content" [routerLink]="['doctors']" >
            <div class="title">Doctors</div>
        </div>
        <div class="link" >
            <div class="content" [routerLink]="['patients']" >
            <div class="title">Patients</div>
        </div>
        <div class="link" >
            <div class="content"  [routerLink]="['appointments']" >
            <div class="title">Appointments</div>
        </div>
    </div>
  </div>
